* text=auto

# Document
*.md               text
*.txt              text

# Configuration
*.json             text
*.yaml             text
*.yml              text

pnpm-lock.yml      text -diff

# Shell
*.sh               text eol=lf
.husky/**/*        text eol=lf

# Source
*.cjs              text
*.js               text
*.ts               text
*.ahk              text eol=crlf
*.py               text
